.page {
	margin: 0 auto;
}

.wordound-header {
	width: 70%;
    margin: 25px auto 70px;
    position: relative;
}

.wordound-logo {
	font-style: italic;
    color: #333;
    display: block;
    font-size: 32px;
}

.input:focus {
	border: none;
	outline: none;
}

input:focus::-webkit-input-placeholder {
	color:transparent;
}
input:focus:-moz-placeholder {
	color:transparent;
}
input:focus::-moz-placeholder {
	color:transparent;
}
input:focus:-ms-input-placeholder {
	color:transparent;
} 

.wordound {
	margin-top: 70px;
    position: relative;
    width: 90%;
    margin: 0 auto 30px;
}

.wordound-input_main .input {
	height: 100px;
	width: 100%;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	font-size: 50px;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
}

.wordound-input_found {
	margin: 20px 0 35px 0;
	text-align: center;
}

.wordound-input_found .input {
	height: 30px;
	padding: 15px 6px;
	border-left: none;
	border-bottom: none;
	border-top: none;
	border-right: none;
	display: inline-block;
	font-size: 23px;
	text-align: center;
	text-transform: lowercase;
}

.wordound-panel {
	width: 70%;
	margin: 0 auto;
}

.wordound-counter {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.wordound-counter_words {
	display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #26ef68;
    font-size: 17px;
    border-radius: 100%;
    color: #fff;
    padding-top: 6px;
    box-sizing: border-box;
    margin: 8px 30px 0 0;
    text-align: center;
    letter-spacing: 0px;
    font-family: Arial;
}

.wordound-counter_letters {
	position: absolute;
    top: 4px;
    right: 15px;
    color: #26ef68;
    font-size: 13px;
    font-family: Arial;
}

.wordound-list {
	margin-top: 30px;
	text-align: left;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.wordound-list_item {
	list-style: none;
	font-size: 20px;
}

.wordound-list_item-info {
	display: inline-block;
	color: #999;
	margin-left: 20px;
}

.wordound-random {
	width: 70%;
    margin: 5px auto;
    display: block;
    text-align: right;
}

.wordound-random-word {
	cursor: pointer;
	display: inline-block;
	padding: 8px;
	background-color: rgba(0,0,0,.2);
	border-radius: 2px;
	color: #fff;
	font-family: Arial;
}

.wordound-random-word:hover {
	background-color: #26ef68;
}

.lang {
	position: absolute;
	top: 8px;
	right: 0;
	font-family: Arial;
	font-size: 20px;
	color: #999;
	cursor: pointer;
}

.lang:hover {
	color: #26ef68;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.wordound-input_main .input {
		font-size: 23px;
		height: 30px;
	}

	.wordound-input_found {
		margin: 0 auto 30px;
	}

	.wordound-input_found .input {
		font-size: 18px;
		height: 23px;
		padding: 5px 6px;
	}

	.wordound-panel {
		width: 100%;
		text-align: center;
	}

	.wordound-list_item {
		font-size: 15px;
	}
}